.email-input-container {
  display: flex;
  height: 25%;
  flex-direction: column;
}

.email-input {
  padding: 12px 16px;
  border-radius: 8px;
  margin-top: 5px;
  border: none;
  font-size: 20px;
  font-family: "MainFontThin";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 3vh;
  width: 425px;
}

.email-input::placeholder {
  color: #999;
}

.email-input-button {
  margin-top: 16px;
  margin-left: 10px;
  padding: 17px 34px;
  font-size: 16px;
  border-radius: 20px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(
    90deg,
    rgba(79, 86, 255, 1) 0%,
    rgba(255, 73, 128, 1) 100%
  );
  border-image-slice: 1;
  color: #fff;
  cursor: pointer;
}

.socialMedia {
  padding: 1vh 1vh 0vh 0vh;
  display: flex;
  justify-content: space-between;
  width: 11vh;
  height: auto;
}
.socialMediaHover {
  cursor: pointer;
}
