@font-face {
  font-family: "MainFont";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "MainFontBold";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Bold.woff2")
    format("truetype");
}

@font-face {
  font-family: "MainFontThin";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Thin.woff2")
    format("truetype");
}

html {
  height: 100vh;
  background-color: #13111a;
  display: block;
}
.screen {
  height: 100vh;
}

.flex {
  display: flex;
}
