@font-face {
  font-family: "MainFont";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "MainFontBold";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Bold.woff2")
    format("truetype");
}

@font-face {
  font-family: "MainFontThin";
  src: url("../src/Assets/fonts/Webfont/THICCCBOI-Thin.woff2")
    format("truetype");
}

html {
  height: 100vh;
  background-color: #13111a;
  display: block;
}
.screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.bodyContainer {
  width: 100vw;
  width: 65vh;
  padding: 6vh 0vw 0vh 30vw;
}
.mainContainer {
  padding: 0vh 0vh 7vh 0vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle1 {
  max-width: 581px;
}
.middle {
  width: 25%;
  text-align: center;
}
